@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("./images/music.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  color: #fff;
} 

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

ul {
  display: flex;
  justify-items: center;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-col {
  margin-left: 6px;
}

.left-col h1 {
  font-size: 5rem;
  color: #fff;
  line-height: 100px;
  float: left;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.right-col {
  position: absolute;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 5px 20px rgb(0, 0, 0);
}

#icon {
  margin-left: 10px;
  cursor: pointer;
  width: 70px;
}

@media (max-width: 800px) {
  .container .navbar{
    padding: 20px;
  }
  
  .container .navbar h3 {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .left-col h1 {
    font-size: 4rem;
    transform: translateY(-80px);
    padding-left: 20px;
  }
  
}

@media (max-width: 1200px) {
  .left-col h1 {
    font-size: 3rem;
    transform: translateY(-80px);
    padding-left: 20px;
  }
  
}



